<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFontStyleDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04E239BC1CFD6E7900EB0CA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E239D81CFD6E7900EB0CA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E239E31CFD6E7900EB0CA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
